/* add_user_movie.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

.form {
    text-align: left;
}

.form label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #333;
}

.form input[type="text"],
.form select {
    width: 770px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.form input[type="submit"] {
    width: 150px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

.link {
    margin-top: 20px;
}

.link a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin-right: 10px;
}

.link a:hover {
    text-decoration: underline;
}
