<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Add a movie </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_add_user_movie.css') }}">
</head>
<body>
    <div class="container">
        {% if not movie_name %}
            <div>
                <form method="GET" action="/users/{{ user_id }}/add_movie">
                    <label for="movie_search">Search movie:</label><br>
                    <input type="text" id="movie_search" name="movie_search" placeholder="Enter the movie name"><br>
                    <input type="submit" value="Search">
                </form>
            </div>
        {% elif movie_name == "movie added" %}
            <div>
                <h2>The movie - {{ name }} - successfully added to your movie list</h2>
            </div>
        {% elif movie_name == "no movie found" %}
            <div>
                <h2>There are no movies found </h2>
                <div>
                    <p> Enter another movie</p>
                    <form class="form" method="GET" action="/users/{{ user_id }}/add_movie">
                        <label for="movie_search">Search movie:</label><br>
                        <input type="text" id="movie_search" name="movie_search" placeholder="Enter the movie name"><br>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        {% elif movie_name == "no search" %}
            <div>
                <h2>You did not enter a movie name</h2>
                <div>
                    <p> Enter a movie name to search</p>
                    <form class="form" method="GET" action="/users/{{ user_id }}/add_movie">
                        <label for="movie_search">Search movie:</label><br>
                        <input type="text" id="movie_search" name="movie_search" placeholder="Enter the movie name"><br>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        {% elif movie_name == "empty name" %}
            <div>
                <h2>You can't leave movie name blank</h2>
                <div>
                    <p> Enter a movie name to search</p>
                    <form class="form" method="GET" action="/users/{{ user_id }}/add_movie">
                        <label for="movie_search">Search movie:</label><br>
                        <input type="text" id="movie_search" name="movie_search" placeholder="Enter the movie name"><br>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        {% elif movie_name == "movie_exists" %}
            <div>
                <h2>The movie already exists in your catalogue</h2>
                <div>
                    <p> Enter a movie name to search</p>
                    <form class="form" method="GET" action="/users/{{ user_id }}/add_movie">
                        <label for="movie_search">Search movie:</label><br>
                        <input type="text" id="movie_search" name="movie_search" placeholder="Enter the movie name"><br>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        {% elif movie_name == "movie exists" %}
            <div>
                <h2>You already have this movie in you movie catalogue</h2>
                <div>
                    <p> Enter another movie name</p>
                    <form class="form" method="GET" action="/users/{{ user_id }}/add_movie">
                        <label for="movie_search">Search movie:</label><br>
                        <input type="text" id="movie_search" name="movie_search" placeholder="Enter the movie name"><br>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        {% else %}
            <div>
                <h2> These are your movie details, you can change any field, if you want</h2>
                <form class="form" method="POST" action="/users/{{ user_id }}/add_movie">
                    <label for="movie_name">Movie Name:</label><br>
                    <input type="text" id="movie_name" name="movie_name" value=" {{ name }} "><br>
                    <label for="movie_year">Year of Release:</label><br>
                    <input type="text" id="movie_year" name="movie_year" value=" {{ year }} "><br>
                    <label for="movie_rating">Movie Rating:</label><br>
                    <input type="text" id="movie_rating" name="movie_rating" value=" {{ rating }} "><br>
                    <label for="movie_director">Movie Director:</label><br>
                    <input type="text" id="movie_director" name="movie_director" value=" {{ director }} "><br>
                    <input type="submit" value="Add movie">
                </form>
            </div>
        {% endif %}
        <div class="link">
            <p> <a href="/users/{{ user_id }}"> View your updated catalogue </a> </p>
            <p> <a href="/users/{{ user_id }}/add_movie"> Add a new movie to your catalogue </a> </p>
            <p> <a href="/users"> View all users </a></p>
            <p> <a href="/"> Homepage </a> </p>
        </div>
    </div>
</body>
</html>