<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add a user </title>
    <link rel="stylesheet" href="static/add_user.css">
</head>
<body>
    <div class="container">
        <div>
            <h1> Enter user details </h1>
        </div>
        <div>
            <form class="form" method="POST" action="/add_user">
                <label for="username"> Name:</label><br>
                <input type="text" id="username" name="username" placeholder="*" required><br>
                <label for="email"> Email:</label><br>
                <input type="text" id="email" name="email" placeholder="*" required><br>
                <label for="password"> Password:</label><br>
                <input type="password" id="password" name="password" placeholder="*" required><br>
                <label for="email"> Gender:</label><br>
                <input type="text" id="gender" name="gender" placeholder="M/F/(LGBTQ)"><br>
                <input type="submit" value="Add user">
            </form>
        </div>
    </div>
</body>
</html>