<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Add a user </title>
    <link rel="stylesheet" href="static/styles_add_user.css">
</head>
<body>
    <div class="container">
        {% if user_name == '' %}
            <div>
                <h2>You did not enter a user name</h2>
                <div>
                    <form class="form" method="GET" action="/add_user">
                        <label for="username"> Name:</label><br>
                        <input type="text" id="username" name="username" placeholder="Enter your username"><br>
                        <input type="submit" value="Add user">
                    </form>
                </div>
            </div>
        {% elif name == user_name %}
            <div>
                <p> <h2> The user - {{ name }} - successfully added to movies user's list </h2> </p>
            </div>
            <div>
                <p> <a href="/users/{{ user_id }}/add_movie"> Add a new movie to your catalogue </a> </p>
            </div>
        {% else %}
            <div>
                <form class="form" method="GET" action="/add_user">
                    <label for="username">Name:</label><br>
                    <input type="text" id="username" name="username" placeholder="Enter your username"><br>
                    <input type="submit" value="Add user">
                </form>
            </div>
        {% endif %}
        <div class="link">
            <p> <a href="/users"> View all users </a> </p>
            <p> <a href="/"> Homepage </a> </p>
        </div>
    </div>
</body>
</html>