<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>
            <h3> The movie - {{ movie_name }} - has been successfully deleted</h3>
        </div>
        <div>
            <p> <a href="/"> Homepage </a> </p>
            <p> <a href="/users/{{ user_id }}"> View your updated catalogue </a> </p>
            <p> <a href="/users/{{ user_id }}/add_movie"> Add a new movie to your catalogue</a> </p>
        </div>
    </div>
</body>
</html>