<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_delete_user_movie.css') }}">
</head>
<body>
    <div class="container">
        <div>
            <h3> The movie - {{ movie_name }} - has been successfully deleted</h3>
        </div>
        <div class="link">
            <p> <a href="/users/{{ user_id }}"> View your updated catalogue </a> </p>
            <p> <a href="/users/{{ user_id }}/add_movie"> Add a new movie to your catalogue</a> </p>
            <p> <a href="/users"> View all users </a></p>
            <p> <a href="/"> Homepage </a> </p>
        </div>
    </div>
</body>
</html>