<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <link rel="stylesheet" href="static/styles.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var div2 = document.querySelector(".div2");
            div2.addEventListener("mouseenter", function() {
                this.classList.add("active");
            });
            div2.addEventListener("mouseleave", function() {
                this.classList.remove("active");
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            Welcome to Movie App v2.0
        </div>
        <div class="div2">
            <button class="menu-button">MENU</button>
        </div>
        <div class="menu">
            <div class="menu-item">
                <a href="/users">View all users</a>
            </div>
            <div class="menu-item line"></div>
            <div class="menu-item">
                <a href="/add_user">Add a new user</a>
            </div>
        </div>
    </div>
</body>
</html>
