<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='update_user_movie.css') }}">
</head>
<body>
    <div class="container">
            <div>
                <h2> Enter details of the movie -- {{title}} </h2>
                <form class="form" method="POST" action="/users/{{user_id}}/update_movie/{{movie_id}}">
                    <label for="movie_name">Movie Name:</label><br>
                    <input type="text" id="movie_name" name="title" value="{{title}}" readonly><br>
                    <label for="movie_year">Year of Release:</label><br>
                    <input type="text" id="movie_year" name="year" value="{{year}}"><br>
                    <label for="movie_director">Movie Director:</label><br>
                    <input type="text" id="movie_director" name="director" value="{{director}}"><br>
                    <label for="genre">Movie genre:</label><br>
                        <select name="genre_id" id="genre" required>
                            <option value="" disabled selected>* Choose another genre</option>
                            <option value="1">Action</option>
                            <option value="2">Adventure</option>
                            <option value="3">Superhero</option>
                            <option value="4">Comedy</option>
                            <option value="5">Drama</option>
                            <option value="6">Science Fiction</option>
                            <option value="7">Fantasy</option>
                            <option value="8">Horror</option>
                            <option value="9">Thriller</option>
                            <option value="10">Mystery</option>
                            <option value="11">Romance</option>
                            <option value="12">Historical</option>
                            <option value="13">Western</option>
                            <option value="14">Animation</option>
                            <option value="15">Musical</option>
                            <option value="16">Documentary</option>
                            <option value="17">War</option>
                            <option value="18">Sports</option>
                            <option value="19">Family</option>
                        </select><br>
                    <label for="rating">Review Rating:</label><br>
                        <select name="rating" id="rating" required>
                            <option value="" disabled selected>* Choose another rating</option>
                            <option value="1">1.0</option>
                            <option value="2">2.0</option>
                            <option value="3">3.0</option>
                            <option value="4">4.0</option>
                            <option value="5">5.0</option>
                            <option value="6">6.0</option>
                            <option value="7">7.0</option>
                            <option value="8">8.0</option>
                            <option value="9">9.0</option>
                            <option value="10">10.0</option>
                        </select><br>
                    {%if description == None %}
                    {%else%}
                        <label for="descriptn">Review description:</label><br>
                        <textarea id="descriptn" name="description" rows="10" cols="30" required>{{description}}</textarea><br>
                    {% endif %}
                    <input type="submit" value="Update movie">
                </form>
            </div>
        <div class="link">
            <p> <a href="/users/{{user_id}}"> View your updated catalogue </a> </p>
            <p> <a href="/users/{{ user_id }}/add_movie"> Add a new movie to your catalogue </a> </p>
            <p> <a href="/users"> View all users </a></p>
            <p> <a href="/"> Homepage </a> </p>
        </div>
    </div>
</body>
</html>
