<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> User favorite movies </title>
</head>

<body>
    <h1> List of user's movies </h1>
    <ul>
        {% if not user_movies %}
            <li> This user has no favourite movie </li>
        {% else %}
            {% for movie in user_movies %}
                <li>
                    <h2> Name - {{ movie.get('name') }} </h2>
                    <ul>
                        <li>
                            id - {{ movie.get('id') }}
                        </li>
                        <li>
                            Director - {{ movie.get('director') }}
                        </li>
                        <li>
                            Year - {{ movie.get('year') }}
                        </li>
                        <li>
                            Rating - {{ movie.get('rating') }}
                        </li>
                    </ul>
                </li>
                <div>
                    <p> <a class = "btn_link" href="/users/{{ user_id }}/update_movie/{{ movie.get('id') }}"> <input type="button" value="Update"> </a> </p>
                </div>

                <div>
                    <p> <a class = "btn_link" href="/users/{{ user_id }}/delete_movie/{{ movie.get('id') }}"> <input type="button" value="Delete"> </a> </p>
                </div>
            {% endfor %}
        {% endif %}
    </ul>

</body>
</html>