<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Users - MovieWeb App </title>
    <link rel="stylesheet" href="static/styles_users.css">

</head>
<body>
    <div class="container">
        <div>
            <h1> Users </h1>
        </div>
        <div>
            <ul>
                {% for user in users[0] %}
                    <li>
                        <a href="/users/{{ user }}" title = "{{ users[0].get(user).get('name') }}"> {{ users[0].get(user).get('name') }} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="link">
            <p> <a href="/add_user"> Add new user </a> </p>
            <p> <a href="/"> Homepage </a> </p>
        </div>
    </div>
</body>
</html>

